.App {
  box-sizing: border-box;
  text-align: center;
}

.header-1 {
  font-size: 3.6rem;
}

.header-2 {
  font-size: 2.8rem;
}

.header-3 {
  font-size: 2rem;
}

.header-4 {
  font-size: 1.6rem;
}


.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 4rem;
}
.contenedor {
  display: flex;
  flex-direction: column;
}

.dd {
  display: flex;
  justify-content: center;
}


img {
  height: 128px;
}

button {
  cursor: pointer;
}
button:hover {
  border: 1px  rgb(212, 5, 5) solid;
  color: rgba(224, 4, 4, 0.795);
  background-color: rgba(255, 0, 0, 0.05);
}

.botonera {
  display: flex;
  justify-content: space-evenly;
}